In [29]:
import pymongo
import os
import pandas as pd
from dotenv import load_dotenv
load_dotenv()

True

In [30]:
df=pd.read_csv('data.csv')
df

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

In [31]:
df.isna().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [32]:
#converting dataframe to dictionary before inserting into mongodb

data=df.to_dict(orient='records')
# data
#check if theres an empty list or not
if not data:
    print("Data is empty, nothing to insert.")

In [ ]:
# Connect to MongoDB
DB_NAME='PROJECT1'
COLLECTION_NAME='vehicle_data'
MONGO_URI = os.getenv('mongo_url')

client = pymongo.MongoClient(MONGO_URI)
data=client[DB_NAME]
collection=data[COLLECTION_NAME]

In [34]:
#insert to mongo db
try:
    rec=collection.insert_many(data)
    rec
    print("Data inserted successfully")
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: documents must be a non-empty list

In [35]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>